@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    content: "";
    @apply absolute bottom-3 lg:bottom-6 2xl:bottom-10 left-0 w-full h-1 bg-white hover:scale-x-100 scale-x-0 transition-transform duration-300 origin-bottom-right hover:origin-bottom-left ease-in-out;
  }
}
:root {
  box-sizing: border-box;
}

body {
  color: black;
}
